<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cooking records:</strong>
  <%= @user.cooking_records %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @user.ratings %>
</p>

<p>
  <strong>Followings:</strong>
  <%= @user.followings %>
</p>

<%= link_to 'Back', users_path %>
