<p id="notice"><%= notice %></p>

<h1>Wish Records</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wish_records.each do |wish_record| %>
      <tr>
        <td><%= wish_record.user_id %></td>
        <td><%= wish_record.recipe_id %></td>
        <td><%= link_to 'Show', wish_record %></td>
        <td><%= link_to 'Destroy', wish_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
